subfinder==2.5.1
assetfinder==1.0.0
amass==3.19.2
findomain==8.2.1
dnsx==1.1.1
httpx==1.2.5
nuclei==2.8.8
gau==1.2.0
waybackurls==1.0.0
subjack==1.2.0
naabu==2.0.5
ffuf==1.3.1
aquatone==1.7.0
jq==1.6
parallel==20220422
golang==1.18
hakrawler==2.1
gowitness==2.4.0
gitrob==2.0.0-beta
